[include]
    path = .gitconfig.local
[pull]
	rebase = true
	autoStash = true
[rebase]
	autoStash = true
[push]
  autoSetupRemote = true
[core]
  excludesfile = /home/francis/.gitignore
[alias]
  co = checkout
  ll = log --oneline
  F  = git push --force-with-lease
  last = log -1 HEAD --stat

