[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-if"]
	path = dotbot-if
	url = https://github.com/wonderbeyond/dotbot-if.git
[submodule "dotbot-npm"]
	path = dotbot-npm
	url = https://github.com/ameliagapin/dotbot-npm
[submodule "dotbot-git"]
        path = dotbot-git
        url = https://github.com/DrDynamic/dotbot-git.git
[submodule "dotbot-include"]
	path = dotbot-include
	url = https://gitlab.com/gnfzdz/dotbot-include.git
