[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-if"]
	path = dotbot-if
	url = https://github.com/wonderbeyond/dotbot-if.git
[submodule "dotbot-npm"]
	path = dotbot-npm
	url = https://github.com/ameliagapin/dotbot-npm
