justfile
!Makefile
!Taskfile
.yalc/
yalc.lock
!*.local.fb.*
!.*.fb.*
!__FB__*/
!.nvim.lua
!.wezterm_layout.lua
!.nvim/*
.vscode/*
.vscode/
lpm.manifest.json
.ignore
.state/
.dotbot/
.dotbot*
apps/nvim/config_old/
work/
